*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #df3207;
}
section{
    padding: 100px 0px;
}
.container{
    width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 0 0 auto;
    width: 33.33%;
    padding: 20px;
}
h1{
    font-size: 30px;
    color: #ecb551;
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: 600;
}
a{
    padding: 50px 20px;
    display: block;
    box-shadow: 0 0 15px gray;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
background: #df3207;
box-shadow:  20px 20px 56px #be2b06, 
             -20px -20px 56px #ff3a08;
}
.col:hover{
	box-shadow:  44px 44px 56px #be2b06, 
             -44px -33px 56px #ff3a08;
}
img{
	max-width:100%;
}