*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #a4dd3c;
}
section{
    padding: 100px 0px;
}
.container{
    width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 0 0 auto;
    width: 33.33%;
    padding: 20px;
}
h1{
   color: #021217fc;
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: 900;
}
a{
    padding: 50px 20px;
    display: block;
    box-shadow: 0 0 15px gray;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
border-radius: 25px;
background: #a4dd3c;
box-shadow:  20px 20px 60px #8bbc33, 
             -20px -20px 60px #bdfe45;
}
.col:hover{
	border-radius: 25px;
background: #a4dd3c;
box-shadow:  40px 40px 60px #8bbc33, 
             -40px -40px 60px #bdfe45;
}
img{
	max-width:100%;
}
